<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class ="white" role="navigation">
		<div class="nav-wrapper">
			<a id="logo-container" href="/index" class="brand-logo" >DIGSBK9ANIMALRESCUE</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="/index">About</a>
				</li>
				<li>
					 <a href="/adopt">Adopt</a>
				</li>
				<li>
					 <a href="/boardMembers">Board Members</a>
				</li>
				<li>
					 <a href="/programs">Programs</a>
				</li>
			</ul>
			<ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
				<li>
					<a href="/index">About</a>
				</li>
				<li>
					 <a href="/adopt">Adopt</a>
				</li>
				<li>
					 <a href="/boardMembers">Board Members</a>
				</li>
				<li>
					 <a href="/programs">Programs</a>
				</li>
			</ul>
		</div>
	</nav>






    <footer class="page-footer">
      <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Our Goal</h5>
                <p class="grey-text text-lighten-4">Making the world a Better Place</p>
              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">email</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Bryant Sands © 2017 Copyright
            </div>
          </div>
        </footer>
		
</body>
</html>