<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class ="white" role="navigation">
		<div class="nav-wrapper">
			<a id="logo-container" href="/index" class="brand-logo" >DIGSBK9ANIMALRESCUE</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="/index">About</a>
				</li>
				<li>
					 <a href="/adopt">Adopt</a>
				</li>
				<li>
					 <a href="/boardMembers">Board Members</a>
				</li>
				<li>
					 <a href="/programs">Programs</a>
				</li>
			</ul>
			<ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
				<li>
					<a href="/index">About</a>
				</li>
				<li>
					 <a href="/adopt">Adopt</a>
				</li>
				<li>
					 <a href="/boardMembers">Board Members</a>
				</li>
				<li>
					 <a href="/programs">Programs</a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br>
				<br>
				<h1 class="header center teal-text text-lighten-2">Rescue</h1>
				<div class="row center">
					<h5 class="header col s12 light">Hope and Vernons road to rescue</h5>
				</div>
				<br>
				<br>
			</div>
		</div>
		<div class="parallax">
				<img src="assets/images/dog4.jpg" alt="dog cover photo">
		</div>
	</div>
	<div class="container">
		<div class="section">
			<div class="row">
				<div class="col s12 m4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec mattis enim. Pellentesque rutrum lobortis lacus sit amet euismod. Quisque cursus turpis eu diam ullamcorper, sit amet convallis erat malesuada. Mauris eu ex est. Duis eu aliquet metus. Aliquam sagittis velit non convallis facilisis. Aliquam vel lectus ac diam sodales egestas vitae quis nulla. Aenean pretium felis mauris, sed luctus lorem pellentesque ut. Nunc tincidunt fringilla pulvinar. Donec sodales erat ex, mattis mattis ante tempor id. Donec eu lacinia nulla. Pellentesque sit amet risus et magna faucibus scelerisque. Praesent ut semper ante.</div>
				<div class="col s12 m4">sLorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec mattis enim. Pellentesque rutrum lobortis lacus sit amet euismod. Quisque cursus turpis eu diam ullamcorper, sit amet convallis erat malesuada. Mauris eu ex est. Duis eu aliquet metus. Aliquam sagittis velit non convallis facilisis. Aliquam vel lectus ac diam sodales egestas vitae quis nulla. Aenean pretium felis mauris, sed luctus lorem pellentesque ut. Nunc tincidunt fringilla pulvinar. Donec sodales erat ex, mattis mattis ante tempor id. Donec eu lacinia nulla. Pellentesque sit amet risus et magna faucibus scelerisque. Praesent ut semper ante.</div>
				<div class="col s12 m4">sLorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec mattis enim. Pellentesque rutrum lobortis lacus sit amet euismod. Quisque cursus turpis eu diam ullamcorper, sit amet convallis erat malesuada. Mauris eu ex est. Duis eu aliquet metus. Aliquam sagittis velit non convallis facilisis. Aliquam vel lectus ac diam sodales egestas vitae quis nulla. Aenean pretium felis mauris, sed luctus lorem pellentesque ut. Nunc tincidunt fringilla pulvinar. Donec sodales erat ex, mattis mattis ante tempor id. Donec eu lacinia nulla. Pellentesque sit amet risus et magna faucibus scelerisque. Praesent ut semper ante.</div>
			</div>
		</div>
	</div>
	<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<div class="row center">
					<h5 class="header col s12 light"> Making a difference one dog at time</h5>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="assets/images/vernon.jpg" alt="vernon pic">
		</div>
	</div>
<div class="container">
	<div class="section">
		<div class="row">
			<div clas="col s12 center">
				<h3>
					<i class="mdi-content-send brown-text"></i>
				</h3>
				<h4>Contact Us</h4>
				<p class="left-align light">
					"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec mattis enim. Pellentesque rutrum lobortis lacus sit amet euismod. Quisque cursus turpis eu diam ullamcorper, sit amet convallis erat malesuada. Mauris eu ex est. Duis eu aliquet metus. Aliquam sagittis velit non convallis facilisis. Aliquam vel lectus ac diam sodales egestas vitae quis nulla. Aenean pretium felis mauris, sed luctus lorem pellentesque ut. Nunc tincidunt fringilla pulvinar. Donec sodales erat ex, mattis mattis ante tempor id. Donec eu lacinia nulla. Pellentesque sit amet risus et magna faucibus scelerisque. Praesent ut semper ante."
				</p>
			</div>
		</div>
	</div>
</div>
<div class="parallax-container valign-wrapper">
		<div class="section no-pad-bot">
			<div class="container">
				<div class="row center">
					<h5 class="header col s12 light"> Making a difference one dog at time</h5>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="assets/images/rosti.jpg" id="rosti" alt="rosti pic" >
		</div>
	</div>




<footer class="page-footer">
      <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Our Goal</h5>
                <p class="grey-text text-lighten-4">Making the world a Better Place</p>
              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">email</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Bryant Sands © 2017 Copyright
            </div>
          </div>
        </footer>
		
</body>
</html>